<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.dolbomi">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:hardwareAccelerated="true">
        <activity android:name=".SensorActivity"></activity>
        <activity android:name=".RegisterActivity"></activity>
        <activity android:name=".HomeStatus"></activity>
        <activity android:name=".LoginActivity"></activity>
        <activity android:name=".MainActivity"><intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter></activity>
        <activity android:name=".PhysicalInputActivity"
            tools:ignore="Instantiatable"></activity>
        <activity android:name=".ChangeStatus"></activity>
        <activity android:name=".AdminMode"></activity>
        <activity android:name=".LifePatternActivity"></activity>
        <activity android:name=".TagHistory" />
        <activity android:name=".ExerciseDetail"></activity>
        <activity
            android:name=".IntroActivity"
            android:theme="@style/Intro">

        </activity>
        <service android:name=".StepCheckService" android:enabled="true">
            <intent-filter>
                <action android:name="app.manbo.Service"/>
            </intent-filter>
        </service>
    </application>

</manifest>