<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.dolbomi">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".SensorActivity"></activity>
        <activity android:name=".RegisterActivity"></activity>
        <activity android:name=".HomeStatus"></activity>
        <activity android:name=".LoginActivity"></activity>
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".PhysicalInputActivity"
            tools:ignore="Instantiatable"></activity>
        <activity android:name=".ChangeStatus"></activity>
        <activity android:name=".AdminMode"></activity>
        <activity android:name=".LifePatternActivity"></activity>
        <activity android:name=".TagHistory" />
        <activity android:name=".ExerciseDetail"/>

        <!-- [START fcm_disable_auto_init]
        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />

        <service
            android:enabled="true"
            android:exported="false"
            android:name="com.google.android.gms.measurement.AppMeasurementService" />-->
        <!-- [END fcm_disable_auto_init] -->

        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages -->
        <!--<meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/dolbomi" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/green" />
-->
        <activity
            android:name=".IntroActivity"
            android:theme="@style/Intro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".StepCheckService" android:enabled="true">
            <intent-filter>
                <action android:name="app.manbo.Service"/>
            </intent-filter>
        </service>

        <!-- FCM 설정 추가 -->
        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <!--<action android:name="com.google.firebase.INSTANCE_ID_EVENT" />-->
            </intent-filter>
        </service>

    </application>
</manifest>